<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="TI am an Elixir Phoenix developer looking for my next role with a great company.">
    <meta itemprop="name" content="Hire Brian Today!">
    <meta itemprop="brand" content="Hire Brian Today!">
    <meta itemprop="description" content="TI am an Elixir Phoenix developer looking for my next role with a great company.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thebrianemory">
    <meta name="twitter:creator" content="@thebrianemory">
    <meta name="twitter:title" content="Hire Brian Today!">
    <meta name="twitter:description" content="I am an Elixir Phoenix developer looking for my next role with a great company.">
    <meta name="twitter:image" content="https://www.hirebrian.today/images/hire_brian_today.png">
    <title>Hire Brian Today!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="text-my-blue bg-my-gray">
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
